.weather-container {
  width: 80%;
  max-width: 1200px;
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 10px;
}

.weather-header {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 50%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
}

.weather-header input {
  width: 100%;
  max-width: 350px;
  height: 40px;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  text-align: center;
  box-sizing: border-box;
}

.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-weather {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-bottom: 20px;
}

.current-weather h2 {
  margin-top: 0;
}